body{
    background-color:#D3D3D3;
  }
  

  
     header .btn{
      padding: 1rem 2rem;
      font-size: 1rem;
      color: #fff;
      background-color: #1d4ed8;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
  }
  
 header .btn:hover{
      background-color: #1e40af;
  }
  
  .container{
      max-width: 1200px;
      margin: auto;
      padding: 5rem 2rem;
  }
  
  
  
  header{
      position: relative;
      padding-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 2rem;
  }
  
  header .content h4{
      margin-bottom: 1rem;
      color: #ccc;
      font-size: 1rem;
      font-weight: 600;
  }
  
  header .content h1{
      color: black;
      margin-bottom: 1rem;
      font-size: 3rem;
      font-weight: 700;
      line-height: 4rem;
  }
  
  header .content h1 span{
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px black;
  }
  
  header .content p{
      margin-bottom: 2rem;
      color: #454545;
      font-size:20px;
  }
  
  header .image{
      position: relative;
  }
  
  header .image::before{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 38rem;
      font-weight: 400;
      line-height: 20rem;
      color: #1d4ed8;
      opacity: 0.2;
      z-index: -100;
  }
  
  header .image img{
      max-width: 500px;
      height: auto;
      border-radius: 10%;
      padding-left: 10px;
  }
  
  section .header{
      margin-bottom: 1rem;
      color: #fff;
      text-align: center;
      font-size: 2.25rem;
      font-weight: 600;
  }


.info h1{
    text-align: center;
    padding: 25px;
    
}