*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100dvh;
    width: auto;
}

nav{
    background-color: #6885EF;
    color: #fff;
    
    
}
nav h2{
    padding: 5px;
    padding-left: 10px;
    color: white;
}
nav li{
    padding: 3px;
    color: white;
}
nav li a:hover{
    text-decoration: underline;
    transition-duration: 0.5ms;
}
.register{
    width: 500px;
    margin: 15px;
    height: auto;
    background-color: #6885EF;
    font-size: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 10;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.register input{
    margin: 10px;
    border-radius: 5px;
    border: none;
    padding: 7px;
}


.register h1{
    padding: 10px;
    margin: 10px;
    -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px black;
}

.registering{
    display: inline;
    text-align: center;
}

.existingaccount{
    display: inline;
    text-align: center;
}

footer{
    text-align: center;
    align-items: center !important;
    bottom: 0;
    width: 100%;
}

.errors{
    width: 600px;
    justify-content: center;
    padding: 25px;
}

.errors label{
    padding: 15px;
}

.card-header{
    background-color: #6885EF;
    font-size: large;
    font-style: bold;
}